*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  padding-top: 1em;
  background: none;
  min-height: 100vh;
}

html {
  color-scheme: dark light;
}

/* =============================== */



table :is(th, td) {
  text-align: center;
}

.employeesContainer {
  margin-block-end: calc(6em + 3vw + 3vh);
}

.btn {
  padding: .1em .3em;

}

.action-td {
  display: flex;
  justify-content: space-around;
}

.margin-block-start-10r {
  margin-block-start: calc(6em + 3vw + 3vh);
}

.add-btn-container {
  display: flex;
  margin-block: 1em;
  padding-block: 1em;
  border-radius: 10px;
  background: #333;
  justify-content: flex-end;
  padding-inline-end: 1em;

}

#faPlusIcon {
  margin-inline: .5em;
  scale: 1.2;

}